body{
    text-align: center;
    font-size: 35px;
    background-image: url('https://thumbs.dreamstime.com/b/calculadora-un-fondo-39034340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tabla{
    border:1px solid black;
}